<h1>Welcome to your Recipes Website</h1>
<h2>Write down your recipe!</h2>
<form action="/recipes" method="post">
  Name:<input type="text" id="name" name="name">
  Ingredients:<input type="text" id="indgredients" name="ingredients">
  Cook Time:<input type="text" id="cook_time" name="cook_time">
  <input type="submit" value="Submit">
</form>